<div class="container">
  <h2 class="name">{{ name }}</h2>
  <div class="list-actions-container">
    <mat-icon class="edit" (click)="openEditListNameModal()">edit</mat-icon>
    <mat-icon class="delete" (click)="deleteList()">delete</mat-icon>
  </div>

  <div class="list-content">
    <button (click)="openAddCardModal()">Add Card</button>
    <div
      #list
      cdkDropList
      [cdkDropListData]="todos"
      class="list"
      (cdkDropListDropped)="drop($event)"
    >
      <mat-card class="card" *ngFor="let todo of todos" cdkDrag>
        <mat-card-header>
          <div class="container-title">
            <input
              type="checkbox"
              [checked]="todo.done"
              (click)="toggleCardStatus(todo)"
            />
            <mat-card-title [ngClass]="{'done': todo.done}">
              {{ todo.title }}
            </mat-card-title>
          </div>
          <mat-icon class="info-icon" (click)="openInfoDialog(todo)">help_outline</mat-icon>
        </mat-card-header>

        <mat-card *cdkDragPreview>
          <mat-card-header>
            <mat-card-title>
              {{ todo.title }}
            </mat-card-title>
          </mat-card-header>
        </mat-card>
      </mat-card>
    </div>
  </div>
</div>
